apiVersion: eks.amazonaws.com/v1
kind: NodeClass
metadata:
  name: ${name}
spec:
  role: ${node_role_name}
  ephemeralStorage:
    size: 80Gi
    iops: 3000
    throughput: 125
  networkPolicy: DefaultAllow
  networkPolicyEventLogs: Disabled
  snatPolicy: Random
  subnetSelectorTerms:
    - tags:
        karpenter.sh/discovery/private: "*"
  securityGroupSelectorTerms:
    - id: ${node_security_group_id}
